[submodule "nepi_mavros"]
	path = nepi_mavros
	url = git@github.com:nepi-engine/nepi_mavros.git
[submodule "zed-ros-wrapper"]
	path = zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "ros_numpy"]
	path = ros_numpy
	url = git@github.com:nepi-engine/ros_numpy.git
[submodule "nepi_yolov5"]
	path = nepi_yolov5
	url = git@github.com:nepi-engine/nepi_yolov5.git
